.App {
  padding: 2rem;
  font-size: 1.1rem;
  margin-left: 20rem;
  margin-right: 20rem;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 4rem;
}

.post-grid {
  display: flex;
  justify-content: center;
}

.post-grid-arrow-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post-grid-arrow-down {
  display: none;
}

.post {
  padding: 1.25rem;
}

.faIcon {
  margin: 1.875rem;
}

a {
  text-decoration: none;
  text-transform: none;
  color: black;
}

#logo {
  width: 5rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6.25rem;
}

#github {
  background-color: #77c1ff;
  margin: 0.625rem;
  font-size: 2rem;
}

#github-link,
#code-sandbox-link {
  color: white;
}

#code-sandbox {
  background-color: #c762fd;
  margin: 0.625rem;
  font-size: 2rem;
}

.simple-post-grid {
  margin: 1.25rem;
  display: flex;
}

.simple-post {
  margin: 1.25rem;
}

@media only screen and (max-width: 37.5rem) {
  .App {
    padding: 1rem;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header {
    margin-bottom: 0.625rem;
  }
}

#loading {
  font-size: 2rem;
}

#checkbox {
  width: 1.5rem;
  height: 1.5rem;
}

@media only screen and (max-width: 20rem) {
  .App {
    font-size: 0.7rem;
  }
  .post-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .post-grid-arrow-right {
    display: none;
  }
  .post-grid-arrow-down {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
