.App {
  padding: 2rem;
  font-size: 1.1rem;
  margin-left: 20rem;
  margin-right: 20rem;
  display: flex;
  justify-content: center;
}

.post-grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item {
  width: 43.75rem;
  height: 18.75rem;
  margin: 3.125rem;
  background-color: white;
  padding: 1.875rem;
}

#purple-border {
  background-color: #c762fd;
  padding: 1.875rem;
}

#blue-border {
  background-color: #77c1ff;
  padding: 1.875rem;
}

.post-grid-arrow-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post-grid-arrow-down {
  display: none;
}

.faIcon {
  margin: 1.875rem;
}

a {
  text-decoration: none;
  text-transform: none;
  color: black;
}

#logo {
  width: 7rem;
}

code {
  background-color: gainsboro;
  padding: 0.3rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6.25rem;
}

.button-grid {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: center;
}

#github {
  background-color: #77c1ff;
  margin: 0.625rem;
  font-size: 2rem;
}

#github-link,
#code-sandbox-link {
  color: white;
}

#code-sandbox {
  background-color: #c762fd;
  margin: 0.625rem;
  font-size: 2rem;
}

.simple-post-grid {
  margin: 1.25rem;
  display: flex;
  justify-content: center;
}

.simple-post {
  margin: 1.25rem;
  width: 25rem;
}

.whole-grid {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 20px;
  flex-wrap: wrap;
  height: 280px;
}

#loading {
  font-size: 2rem;
}

#checkbox {
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 0.65rem;
}

@media only screen and (max-width: 20rem) {
  .App {
    font-size: 0.7rem;
  }
  .post-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .post-grid-arrow-right {
    display: none;
  }
  .post-grid-arrow-down {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media only screen and (max-width: 37.5rem) {
  .App {
    padding: 1rem;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header {
    margin-bottom: 0.625rem;
  }
}
